<% content_for :head do %>
  <script type="text/javascript">
    jQuery(function($) { 
      $(".job_status").change(function() {
        post_update($(this), function(data) {
          if (data['status_group_changed']) {
            document.location.reload();
          } else {
            update_notice(data);
          }
        });
      }); 
      $(".job_production_batch").change(post_this_update);
    });
  </script>
  <style>
    .dash_col {
      width: 30%;
      position: absolute;
    }

    .jobs_in_progress {
      width: 33%;
      left: 32%
    }

    .jobs_in_ship {
      left: 66%
    }
  </style>
<% end %>

<div class="dashboard">
  <nav class="dash_col jobs_in_init">
    <h3>Pre-Production</h3>
    <%= render :partial => 'dashboard_nav', :locals => {:jobs => @jobs_in_init} %>
  </nav>

  <nav class="dash_col jobs_in_progress">
    <h3>In Production</h3>
    <%= render :partial => 'dashboard_nav', :locals => {:jobs => @jobs_in_progress} %>
  </nav>

  <nav class="dash_col jobs_in_ship">
    <h3>Post-Production</h3>
    <%= render :partial => 'dashboard_nav', :locals => {:jobs => @jobs_in_ship} %>
  </nav>
</div>
