body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #003399; }
a:visited { color: #003399; }
a:hover { color: black; background-color: #99ffff; }

div.field, div.actions {
  margin-bottom: 10px;
}

#flash_notice {
  color: green;
}

#flash_error {
  padding: 2px;
  font-weight: bold;
  background-color: #ffaaaa;
  display: table;
  border: 2px solid red;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#nav li {
  display: inline;
  padding: 5px;
}

#auth_nav {
  float: right;
}

#local_nav {
  clear: both;
}

.job_attributes {
  float: none;
}

.job_attributes dt {
   clear:both;
   width:12%;
   float:left;
   font-weight: bold;
}

.job_attributes dd {
   float:right;
   width:66%;
   margin:0 0 0.5em 0.25em;
}

div.form_fields {
  width: 30%;
  float: none;
  clear:both;
}

dt {
   font-weight: bold;
}

.form_fields dt {
   clear:both;
   width:20%;
   float:left;
/*   text-align:right; */
}

.form_fields dd {
/*   float:left; */
   width:79%;
   margin:0 0 0.5em 0.25em;
}

.form_actions {
  clear:both;
}


.item_attributes {
  width: 100%;
  border: #666;
  border-style: groove;
  border-style-inner: groove;
  border-width: thin;
}

.item_attributes dt {
  width: 66%;
  text-align: left;
}

.item_attributes dd {
  width: 33%;
}

th {
  background-color: darkgrey;
  padding-left: 1em;
  padding-right: 1em;
}

td {
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

.tr-dark {
  background-color: #ffffd3;
}

.tr-light {
  background-color: #d7efcf;
}

tr.tr-dark td {
	background-color: #ffffff;
	border-color: #0d0b0d;
	border-top-width: 5px;
	border-bottom-width: 1px;
}

ul li a {
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}

#local_nav a {
	font-weight: bold;
	text-decoration: none;
	color: #298f3e;
}

tr td a {
	font-weight: bold;
	text-decoration: none;
}

tbody tr th {
	background-color: #e0e0e0;
	border-color: #e0e0e0;
}

tr td span {
	text-transform: none;
	text-decoration: none;
}

span.job_date {
	font-family: Helvetica, Arial, sans-serif;
}

tbody tr td {
	font-family: Helvetica, Arial, sans-serif;
	border-style: solid;
	border-color: #8a878a;
	border-bottom-width: 1px;
}

#content h1 {
	font-family: Helvetica, Arial, sans-serif;
}

#content table {
	border-width: 1px;
}

#nav ul {
	font-family: Helvetica, Arial, sans-serif;
	padding-left: 1px;
}

#local_nav {
	font-family: Helvetica, Arial, sans-serif;
	margin-left: 7px;
}

#nav ul li {
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

.prototype {
  display: none;
}

#pricing_expression {
	width: 1200px;
}

#item_description {
	height: 50px;
	width: 200px;
}

div.form_fields dl dd {
	width: 60%;
}

table.item_components {
	border-style: solid;
	border-color: #ffffff;
	margin-left: -40px;
}


