/*
    Blues: #f0f6ff #b2d3ff #6ba9ff #1175ff #3f6eb0 #043f90;
    Tans: #ffe0ad #ffc360 #ff9f00 #b08237 #905a00;
*/
body {
    background-color: #f0f6ff;
    color: #333;
    margin: 0 10px 10px;
}

body, p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 5px;
  font-size: 11px;
}

a { color: #003399; }
a:visited { color: #003399; }
a:hover { color: #ff9f00;}

div.field, div.actions {
  margin-bottom: 10px;
}

#flash_notice {
  color: green;
  border: 1px solid green;
  background-color: #dfd;
  float: left;
  margin: 10px 0;
  padding: 5px 10px;
}

#notice {
	visibility: hidden;
}
		
#flash_alert {
  color: blue;
  border: 1px solid blue;
  background-color: #ddf;
  margin: 10px 0;
  padding: 5px 10px;
}

#flash_error {
  color: red;
  font-weight: bold;
  background-color: #fdd;
  border: 1px solid red;
  margin: 10px 0;
  padding: 5px 10px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#nav {
    background: white url('/images/Premier-Logo.jpg') no-repeat 10px 5px;
    height: 35px;
    border-bottom: 1px solid #6ba9ff;
    margin: 0 -10px 0;
    padding: 5px 10px;
}

#nav ul {
	padding: 8px 0 0;
	margin: 0 0 0 165px;
}

#nav ul li {
    display: inline;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-size: 13pt;
    padding: 5px;
}

#auth_nav {
    position: absolute;
    top: 13px; right: 10px;
}


#local_nav {
 	margin-left: 200px;
 	margin-top: 12px;
	clear: both;
	float: right;
	width: 250px;
}

#local_nav a {
	font-size: small;
	font-weight: bold;
	text-decoration: none;
	color: #ff9f00;
}

#local_nav a:hover {
    color: #ffc360;
}

#content {
	margin-left: 7px;
	margin-top: 40px;
}

#content h2 {
    position: absolute;
    top: 40px; left: 43px;
}

.form_fields {
  float: none;
  clear:both;
}

.form_fields dt {
  float: left;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 5px;
  clear: left;
  width: 10%;
  font-weight: bold;
}

.form_fields dd {
  float: left;
  width: 84%;
  margin:0 0 0.5em 0.25em;
}

.form_actions {
  clear: both;
}

.item_attributes {
  width: 100%;
  border: #666;
  border-style: groove;
  border-style-inner: groove;
  border-width: thin;
}

.item_attributes dt {
  width: 66%;
  text-align: left;
}

.item_attributes dd {
  width: 33%;
}

tr { background-color: #eee;}
/*tr:nth-child(odd)   { background-color:#fff; } */
tr:hover { background-color: #ffe0ad;}

th {
  background-color: #3f6eb0;
  border-color: #043f90;
  color: #eee;
  border: 1px solid #043f90;
  padding-left: 1em;
  padding-right: 1em;
}

td {
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid;
}

ul li a {
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
}

tr td a {
	font-weight: bold;
	text-decoration: none;
}

tr td span {
	text-transform: none;
	text-decoration: none;
}

tbody tr td {
	border-style: solid;
	border-color: #ccc;
}

#content table {
	border-width: 1px;
  width: 100%;
  border-collapse: collapse;
}

#pricing_expression {
	width: 1200px;
}

#item_description {
	height: 50px;
	width: 200px;
}

table.item_components {
	border-style: solid;
	border-color: #ffffff;
}

tr.item_component_row {
  background-color: darkgray;
	border-bottom-width: 0px;
}

tr.price_not_computed {
  background-color: #ffc688
}

tr.price_calculation_error {
  background-color: #c6c688
}

tr.unit_price_mismatch {
  background-color: #ff8888
}

table.properties tr {
  width: 95%
}

td.property_name {
  width: 25%;
}

td.property_family {
  width: 15%;
}

td.property_qualifier {
  width: 10%;
}

td.property_values {
  width: 45%;
}

.prototype {
  display: none;
}

label {
    color: #3f6eb0;
}

input, textarea, select {
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
    padding: 4px 5px;
}
input[type="submit"] {
    background-color: #eee;
}
dt {
    font-weight: bold;
    color: #3f6eb0;
    min-width: 150px;
    float: left;
    clear: left;
    padding: 0 0 0 0;
}
dd {
    margin-left: 20px;
    float: left;
}

dd dt {
    font-weight: normal;
    font-style: italic;
}

dl.shipping_address dt {
	text-align: left;
	width: 150px;
}

dl.billing_address dt {
	text-align: left;
	width: 150px;
}

dl.billing_address dd {
	text-align: left;
	margin-left: 60px;
}

dl.shipping_address dd {
	text-align: left;
	margin-left: 60px;
}

dl.special_instructions dt {
text-align: left;
}

dl.special_instructions dd {
text-align: left;
margin-top: -26px;
margin-left: 140px;
}

dl.job_total dt {
	text-align: left;
}

dl.job_total dd {
	text-align: left;
	margin-left: -60px;
}

dl.items dt {
text-align: left;
}

dl.inventory_items dt {
text-align: left;}

#header-rightcol dd {
margin-left: 0px;
margin-top: 0px;
width: 500px;
}

#header-leftcol dd {
margin-left: 160px;
margin-top: -24px;
}

dl.special_instructions {
width: 500px;
}

dl.special_instructions dt {
width: 500px;
}
