<h1>Editing Customer <%= @franchisee.franchise_name %></h1>

<%= render 'form' %>

<% content_for :local_nav do %>
  <%= link_to 'Show', @franchisee %> |
  <%= link_to 'Back', franchisees_path %>
<% end %>
