<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui-1.8.7.custom.min.js' %>
  <%= javascript_include_tag 'jqModal.js' %>
  <%= javascript_include_tag 'item_editing.js' %>
  <script type="text/javascript">
    var selected_association_type = function() {
      return $("#association_select option:selected").val();
    };

    var with_association_types = function(mod, cont) {
      $.get("/items/"+mod+"/component_association_types", cont, "json")
    };
    
    var add_component_data = function() {
      var data = {
        component_id: $("#add_existing_component input:hidden[name=component_id]").val()
      };

      return data;
    };

    var update_association_select = function(association_types) {
      $("#association_select > option").remove();
      for (i = 0; i < association_types.length; i++) {
        $("#association_select").append('<option value="'+i+'">'+association_types[i].association_type+'</option>');
      }
    };

    var enable_cs_autocomplete = function(association_types) {
      $("#add_existing_component_search").autocomplete({
        source: function( request, response ) {
          var request_body = { 
            types: association_types[selected_association_type()].component_types,
            term:  request.term 
          };

          var response_wrapper = function(data) {
            if (data.length == 0) $(".search_notice").html('(no results returned)');
            return response(data);
          };

          $(".search_notice").html('');
          $("#existing_component_display").hide();
          $(".component_properties_conf").hide();
          $.get("/items/search", request_body, response_wrapper, "json");
        },
        select: function( event, ui ) {
          // ui.item.value is an object with the following structure:
          //{
          //  item_id: int,
          //  item_name: string,
          //  dvinci_id: string,
          //  property_values: [object]
          //}
          $("#add_existing_component_search" ).val( ui.item.label );
          $("#add_existing_component input:hidden[name=component_id]").val( ui.item.value.item_id );
          $("#selected_component_name").html(ui.item.value.item_name);
          $("#selected_component_dvinci_id").html(ui.item.value.item_dvinci_id);
          $("#existing_component_display").show();
          $("#add_component_submit").show();

          return false;
        }
      });
    };

    var association_select_change_reaction = function(association_types) {
      $("#association_select").change(
        function(ev) {
          property_receiver_change(
            association_types[$(ev.target).val()].association_type, 
            function(descriptors) { 
              alert("Found descriptors with length " + descriptors.length + " for " + $(ev.target).val());
              if (descriptors.length == 0) $(".component_property_conf").hide(); 
            }
          );
          $("#add_component_submit").hide();
          $("#add_existing_component_search").val('');
          $("#add_existing_component input:hidden[name=component_id]").val(null);
        }
      ); 
    };

    var component_receiver_change = function(receiver_type) {
      with_association_types(
        receiver_type,
        function(association_types) {
          update_association_select(association_types);
          association_select_change_reaction(association_types);
          enable_cs_autocomplete(association_types);
        }
      );
    }

    jQuery(function($) {
      $("#component_receiver").change(function() {
        component_receiver_change($("#component_receiver").val());
      });
    });
  </script>
<% end %>

<div id="add_component_form">
  <input id="component_receiver" type="text" style="display:none"/>
  
  <ul>
    <li>Choose a component type: <select id="association_select"></select></li>
    <li id="add_existing_component">
      Search Items: <input id="add_existing_component_search" type="text"/><br/>
      <input type="hidden" name="component_id"/>
      <span class="search_notice"></span>
      <dl id="existing_component_display" style="display: none">
        <dt>Item Name:</dt>
        <dd id="selected_component_name"></dd>
        <dt>D'Vinci ID:</dt>
        <dd id="selected_component_dvinci_id"></dd>
        <dt>Properties:</dt>
        <dd id="selected_component_properties"><ul></ul></dd>
        <dt class="component_property_conf">Configuration:</dt>
        <dd class="component_property_conf" id="component_association_properties">
          <%= render :partial => 'add_property', :locals => {:receiver_root => 'items'} %>
        </dd>
      </dl>
    </li>
  </ul>

  <button id="add_component_submit" style="display: none">Submit</button>
  <button id="add_component_cancel">Cancel</button>
</div>

