<!-- a prototype microform for a descriptor -->
<div class="property_value descriptor_<%=descriptor_id%>">
  <dl>
    <dt>Value Name:</dt>
    <dd><%= text_field_tag :value_name %></dd>
    <% descriptor.value_structure.each do |name, type| %>
      <dt><%= name.to_s.titlecase %>:</dt>
      <dd><%= property_value_field_tag(name, type) %></dd>
    <% end %>
  </dl>
</div>
