<!DOCTYPE html>
<html manifest="/cache.manifest">
<head>
  <title>Premier Garage Orders Offline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'catalog_orders.js' %>
  <style>
    .place_order {
      display:none;
    }
  </style>
  
  <script type="text/javascript">
    jQuery(function($) {
      var add_order_row = function(order_key) {
        var order = JSON.parse(localStorage[order_key]);
        var row = $("#offline_orders .order_row.prototype").clone();

        $(".order_name a", row).attr('href', "/catalog_orders/#!/edit/"+order.id).html(order.name);
        $(".place_order button", row).click(function() {
          CatalogOrder.place(order);
        });
        
        $("#offline_orders .order_row.prototype").after(row.removeClass('prototype'));
      };

      var build_order_list = function(online) {
        return function() {
          if (supports_local_storage()) {
            for (key in localStorage) {
              if ((new RegExp('^'+CatalogOrder.order_storage_root)).test(key)) {
                add_order_row(key);
              }
            }
            
            if (online) {
              $(".place_order").show();
            }
          }
        };
      };

      $.ajax({
          url: "/ping",
          success: build_order_list(true),
          error: build_order_list(false),
          timeout: 3000,
          dataType: "json"
      });
    });
  </script>
</head>
<body>
  <nav id="nav">
  </nav>
  <nav id="local_nav">
    <%= link_to "New Catalog Order", catalog_orders_path %>
  </nav>

  <h1>Your offline catalog orders are listed below</h1>

  <table id="offline_orders">
    <tr class="table_header">
      <th>Order Name</th>
      <th class="place_order">Place Order</th>
    </tr>
    <tr class="order_row prototype">
      <td class="order_name"><a href=""></a></td>
      <td class="place_order"><button value="Place Order"/></td>
    </tr>
  </table>
</body>
</html>

